@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr-dark: #20252b;
  --secondary-clr-dark: #0d0d12;
  --accent-clr: #f86551;
  --primary-clr-light: #fff;
  --primary-text-clr: #c46ff1;
  --bg-clr-light-1: #fbf0ff;
  --bg-clr-light-2: #ffffff;
}

body {
  font-family: "Comfortaa", sans-serif;
}

.btn {
  border: 2px solid var(--accent-clr);
  background: linear-gradient(
    transparent,
    transparent 50%,
    var(--accent-clr) 50%,
    var(--accent-clr)
  );
  background-size: 100% 200%;
  color: var(--accent-clr);
  transition: background 0.25s, color 0.15s ease-in-out 0.1s;
}

.btn:hover {
  color: #fff;
  background-position: 100% 100%;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (min-width: 500px) {
  .games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
