@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary-clr-dark: #1c1c1f;
  --bg-secondary-clr-dark: #151515;
  --accent-clr: #f86551;
  --text-clr-primary: #fff;
  --primary-clr: #1260e8;
  --bg-primary-clr-light: #f7f7f7;
  --bg-secondary-clr-light: #efefef;
}

body {
  font-family: "Comfortaa", sans-serif;
}

.app {
  min-height: 100vh;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-secondary-clr-dark) inset !important;
  -webkit-text-fill-color: var(--primary-clr) !important;
}

.btn {
  border: 2px solid var(--accent-clr);
  background: linear-gradient(
    transparent,
    transparent 50%,
    var(--accent-clr) 50%,
    var(--accent-clr)
  );
  background-size: 100% 200%;
  color: var(--accent-clr);
  transition: background 0.25s, color 0.15s ease-in-out 0.1s;
}

.btn:hover {
  color: #fff;
  background-position: 100% 100%;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.game {
  transition: transform 0.2s;
}

.game_screenshots {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.game:hover {
  filter: brightness(0.85);
  transform: scale(0.95);
}

.loader {
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid var(--primary-clr);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.image-loader {
  width: 1.8rem;
  height: 1.8rem;
  border: 3px solid #cfcfcf;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.shimmer {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #dfdfdf 8%, #f0f0f0 18%, #dfdfdf 33%);
  background-size: 1200px 100%;
}

.shimmer-dark {
  background: #3a3a3a;
  background-image: linear-gradient(
    to left,
    #3a3a3a 0%,
    #3f3f3f 10%,
    #4a4a4a 20%,
    #3f3f3f 30%,
    #3a3a3a 50%,
    #3a3a3a 100%
  );
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background-size: 1200px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

@media (min-width: 500px) {
  .games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .game_screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .loader {
    width: 3rem;
    height: 3rem;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
