@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary-clr-dark: #1c1c1f;
  --bg-secondary-clr-dark: #151515;
  --accent-clr: #f86551;
  --text-clr-primary: #fff;
  --primary-clr: #1260e8;
  --bg-primary-clr-light: #f7f7f7;
  --bg-secondary-clr-light: #f7f7f7;
}

body {
  font-family: "Comfortaa", sans-serif;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-secondary-clr-dark) inset !important;
  -webkit-text-fill-color: var(--primary-clr) !important;
}

.btn {
  border: 2px solid var(--accent-clr);
  background: linear-gradient(
    transparent,
    transparent 50%,
    var(--accent-clr) 50%,
    var(--accent-clr)
  );
  background-size: 100% 200%;
  color: var(--accent-clr);
  transition: background 0.25s, color 0.15s ease-in-out 0.1s;
}

.btn:hover {
  color: #fff;
  background-position: 100% 100%;
}

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.game {
  transition: transform 0.2s;
}

.game_screenshots {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.game:hover {
  filter: brightness(0.85);
  transform: scale(0.95);
}

@media (min-width: 500px) {
  .games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .game_screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
